
@{
    ViewBag.Title = "Sign In Page";
}

<h2>Signing In</h2>

@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin. You can create User Roles</h1>
    <h3>@Html.ActionLink("Manage Role", "Index", "Role")</h3>
}
else
{
    <h2> Welcome @ViewBag.Name - Choose from NavBar</h2>
}