@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: #D9E8F5;">
    <h1>Cunningham Electronics Corporation</h1>
    <p>The Cunningham Electronics Corporation has created a revolutionary new coupon redemption system that replaces the fraud-ridden system currently in use. We have harnessed the speed and accuracy of the banking world to develop the fastest, easiest to use, money-saving coupon redemption system ever devised. The system has been developed based on the industry approved GS1 Coupon DataBar™ using the banking medium as the vehicle for accuracy, speed and security.</p>
    <p><a href="http://www.cunninghamcouponsystem.com/" class="btn btn-warning btn-lg">Learn more &raquo;</a></p>
</div>
